.MainAppContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1537x1920/de342fdc09a1fdc41b9b740ca299f923/photo-1584611488576-dec3ac160327.jpg");
  background-position: 0%;
  overflow-x: hidden;
  overflow-y: visible;
  background-size: 100%;
}

.root{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container{
  display: flex;
  gap:40px;
  user-select: none;
  align-items: flex-start;
  overflow: visible;
}


