$blockColor: #ebecf0;
$blockWidth: 280px;
$ActionWidth: 260px;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%commonBlock{
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.block{
  @extend %commonBlock; 
  text-align: center;
  width:$blockWidth;

  background: $blockColor;
  cursor: pointer;
  border-radius: 5px;
}

.block__header{
  @extend %commonBlock;
  font-weight: 600;
  font-size: 1rem;
}

.blocklast{
  @extend %commonBlock;
  text-align: center;
  width: calc($blockWidth + 20px);
  height: 25px;
  background-color:  $blockColor;
  border-radius: 5px;
}


.block.hidden{
  @extend %commonBlock;
  text-align: center;
  width: $blockWidth;
  height: 100px;
  background: white;
  z-index: -1;
  color:white
}
.actions{
  @extend %commonBlock;
  font-weight: 0;
  margin: 0 7px 0 7px;
  width: $ActionWidth;
  height:25px;
  position: relative;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow:  0 1px 0 #091e4240;
  border-radius: 3px;
  font-size: 1rem;
  z-index: 3;
}
.add{
  color:red;
  background-color: rgb(147, 235, 238);
  margin-bottom: 7px;
}
.closeIcon{
  position: absolute;
  right: 5px;
  visibility: hidden;
}

.actions:hover .closeIcon{
  visibility: visible;
}
.hiddenAction{
  visibility: hidden;
}