.root{
  position: absolute;
  height: 100vh;
  width: 100vw;
}


.container{
  display: flex;
  gap:40px;
  user-select: none;
 
  align-items: flex-start;
}


.wrapper{
  
  width: 100vw;
  height: 100vh;
}


.block{
  /* align-items: center; */
  position: relative;
  text-align: center;
  width:200px;
  
  background: coral;
  cursor: pointer;
  
}

.block__header{
  position: relative;
}

.blocklast{
  position: relative;
  text-align: center;
  width: 200px;
  height: 100px;
  background: coral;
}


.block.hidden{
  position: relative;
  text-align: center;
  width: 200px;
  height: 100px;
  background: white;
  z-index: -1;
  color:white
  
}

.mario{
  position:absolute;
  top: 400px;
  left: 300px;
  width:50px;
  height: 50px;
  background: violet;
  overflow: hidden;
}

.actions{
  position: relative;
  margin-bottom: 4px;
  background-color: darkgreen;
}
.add{
  color:red;
  background-color: darkgrey;
}